apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: go-169715572
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/hacdev/pigmnfip-tenant/test-app-169715572/go-169715572@sha256:46c9cb6e609837bc2152882a452110b25b5a5c99a44385d57124dd939849de3b
        name: my-go
        resources: {}
status: {}
