apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: go-169715572
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: go-169715572
    app.kubernetes.io/part-of: test-app-169715572
  name: go-169715572
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: go-169715572
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: go-169715572
    spec:
      containers:
      - env:
        - name: TEST_ENV_VAR
          value: Test go app
        image: quay.io/hacdev/pigmnfip-tenant/test-app-169715572/go-169715572@sha256:eb435dbce7247c86b88a641c26fd5d0cf81902cc4cc0c7761b5f7ff9f87ce6dc
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
